.pageRoom {
  main {
    max-width: 800px;

    margin: 0 auto;

    .roomTitle {
      margin: 32px 0 24px;

      display: flex;
      align-items: center;

      h1 {
        font-family: "Poppins", sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;

        padding: 8px 16px;
        border-radius: 9px;
        color: #fff;
        font-weight: 500;
        font-size: 14px;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
      }

      .formFooter {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .userInfo {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 32px;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        > span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;

            font-size: 14px;
            font-weight: 500;
            color: #835afd;
            text-decoration: underline;

            cursor: pointer;
          }
        }
      }
    }
  }
}
